@use "breakpoints" as *;

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);
  max-width: 64rem;
  margin: var(--space-2) auto 0;

  @include respond-to(lg) {
    flex-direction: row;
    align-items: stretch;
    margin-top: var(--space-5);
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-6);

  @include respond-to(md) {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-8);
  }

  @include respond-to(lg) {
    flex: 1;
  }
}
